url = "/advisory-board"
layout = "default"
title = "Advisory board"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[siteSearchInclude]
==
<?php
use Pensoft\Cardprofiles\Models\Profiles as Profiles;

function onStart(){



$this['advisory_board'] = Profiles::where('category_id', 2)->get();

}
?>
==
{% component 'siteSearchInclude' %}

<div class="container">
    <h1 class="page_heading ml-1 mb-4">Advisory board</h1>
    <div class="row start-md around-xs partners_list_container">
        {% for profile in advisory_board %}

        <div class="col-xs-12 col-md-6 profile-item" style="margin-top: 150px;">
            <div class="contact_info row">
                <div class="coordinator_image">
                    {% if profile.avatar %}
                    <img src="{{profile.avatar.thumb(287, 262, {'mode':'crop'})}}" class="fr-fic fr-dii">
                    {% else %}
                    <img src="{{'CMS_icons_avatar.svg'|media}}" class="fr-fic fr-dii">

                    {% endif %}
                </div>
                <div class="coordinator_info">
                    <h3>{{profile.names}}</h3>
                    {% if profile.position %}<p class="card_title">{{profile.position}}</p>{% endif %}
                    {% if profile.content %}<p class="contact_affiliation">{{profile.content | raw}}</p>{% endif %}
                    {% if profile.email %}<p class="contact_mail"><a href="mailto:{{profile.email}}">{{profile.email}}</a></p>{% endif %}
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
