url = "/contact"
layout = "default"
title = "Contact"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[siteSearchInclude]

[jumbotron]
jumbotron = "contact"
background = "#ffffff"
templates = "template2"
description_limit = 0
==
<?php
use Pensoft\Cardprofiles\Models\Profiles;

function onStart(){
	$this['profiles'] =  Profiles::where('category_id', 1)->get();
}
?>
==
{% component 'siteSearchInclude' %}
<h1 class="underline">Contact</h1>
<div class="container mt-4">
	<div class="row mt-4">
		{% for profile in profiles %}
			<div class="col-xs-12 col-md-6 profile-item">
				<div class="contact_info row">
					<div class="coordinator_image"><img src="{{profile.avatar.thumb(287, 262, {'mode':'crop'})}}" class="fr-fic fr-dii"></div>
					<div class="coordinator_info">
						<h3>{{profile.names}}</h3>
						{% if profile.position %}<p class="card_title">{{profile.position}}</p>{% endif %}
						{% if profile.content %}<p class="contact_affiliation">{{profile.content | raw}}</p>{% endif %}
						{% if profile.email %}<p class="contact_mail"><a href="mailto:{{profile.email}}">{{profile.email}}</a></p>{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

</div>
