url = "/planned-events"
layout = "default"
title = "Planned Events"

[session]
security = "user"
redirect = "home"

[calendar]
default = "true"
limit = "null"
category = "null"
language = "en"
redirect_to_detailed_page = 1
==
<?php
use Pensoft\EventReporting\Models\EventsreportingData as Data;
use Pensoft\Calendar\Models\Entry;
use Pensoft\EventReporting\Models\EventsreportingAttendants as Attendant;

function onStart(){
    $this['events'] =
            Entry::orderBy('start', 'desc')->paginate(20);

$this['attendees'] = new class {
public function getIM($id) {
return Attendant::where('event_id', $id)
->join('users', 'users.id', '=', 'pensoft_eventreporting_attendants.user_id')
->get();
}
};

}
?>
==
{% component 'session' %}
<div class="container events">
    <a href="{{'event-attendance-report'|page}}" class="btn btn-primary no-margin">Add event</a> &nbsp; &nbsp;
    <a href="{{'event-attendance-form'|page}}" class="btn btn-primary no-margin">Add attendance</a>

    <p>&nbsp;</p>
    <div class="container">
        <div class="tabs">
            <a class="" href="#listView">List view</a> <span class="divider">|</span>
            <a class="" href="#calendarView">Calendar view</a>

        </div>
    </div>


    <!--tabs content	-->
    <div class="container-fluid">
        <div class="container">

            <div class="row" id="listView">
                <div class="events_list_container">
                    {% for entry in events %}
                    {% set url = entry.url ?  entry.url : '/events/' ~ entry.slug %}

                    <div class="row entry_item middle-xs">
                        <div class="col-md-2 col-xs-12 date_container">
                            <span class="date_day">{% if entry.start|date("j") != entry.end|date("j") %} {{entry.start|date("j")}}-{{entry.end|date("j")}}{% else %}{{entry.start|date("j")}}{% endif %}</span>
                            <span class="date_month">{{entry.start|date("M")}}</span>
                            <span class="date_year">{{entry.start|date("Y")}}</span>
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <h3 class="card-title">{{event.title}}</h3>
                            <div class="body">

                                {% if event.organiser %}
                                <div>
                                    <span class="text-bold">Organiser:</span>
                                    <span class="text-ligth">{{event.organiser}}</span>
                                </div>
                                {% endif %}
                                <div>
                                    <span class="text-bold">WildPosh organised/involved/relevant:</span>
                                    {% set arrayOrganised = {'1': 'organised', '2': 'involved', '3': 'relevant'} %}
                                    <span class="text-ligth">{{arrayOrganised[event.identifier]}}</span>
                                </div>
                                <div>
                                    <span class="text-bold">Venue:</span>
                                    <span class="text-ligth">{{event.place}}</span>
                                </div>
                                {% if event.online_hybrid_onsite %}
                                <div>
                                    <span class="text-bold">Online, hybrid or on-site:</span>
                                    {% set onlineHybridOnsite = {'1': 'online', '2': 'hybrid', '3': 'on-site'} %}
                                    <span class="text-ligth">{{onlineHybridOnsite[event.online_hybrid_onsite]}}</span>
                                </div>
                                {% endif %}
                                {% if attendees.getIM(event.id).count %}
                                <div>
                                    <span class="text-bold">Attendees:</span>

                                    {% for profile in attendees.getIM(event.id) %}
                                    <span class="text-ligth">{{profile.name}} {{profile.surname}}</span>
                                    {% if not loop.last %},&nbsp;{% endif %}
                                    {% endfor %}


                                </div>
                                {% endif %}

                            </div>
                        </div>
                        <div class="col-md-2 col-xs-12 end-md center-xs">
                            {% set url = '/events/' ~ event.slug %}
                            <a href="{{url}}" target="_blank" class="btn btn-primary" style="width: 230px; font-size: unset;">Go to event website</a>
                            {% if user  %}
                            <a href="{{'event-attendance-form'|page}}/{{event.id}}" class="btn btn-primary mb-1 mt-1" style="width: 230px;  font-size: unset;">Add attendance</a>
                            {% endif %}
                        </div>
                    </div>

                    {% endfor %}
                </div>
                {% if events.count > 20 %}
                <div class="row container">
                    {{ events.fragment('listView').render|raw }}
                </div>
                {% endif %}

            </div>
            <div class="row" id="calendarView">
                {% component 'calendar' %}
            </div>

        </div>

    </div>



</div>
