url = "/news/:id?|[a-zA-Z\-0-9]"
layout = "default"
title = "News"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[related_articles]
limit = 9
thumb_width = 261
thumb_height = 184
==
<?php
use Pensoft\Articles\Models\Article;

function urlencode($string){
    return trim(urlencode($string));
}
function onStart()
{
$this['records'] = Article::news()->where('published_at', '<=', 'now()')->where('published', 'true')->orderBy('published_at', 'DESC')->paginate(15, ['*'], 'p');

$this['article'] = Pensoft\Articles\Models\Article::where('slug', $this->param('id'))->where('published', 'true')->first();
if($this['article']){

$this['is_detail_page'] = $this['article'] ? true : false;
$this['allow_share'] = $this['article']['allow_share'] == 'yes' ? true : false;
if($this['is_detail_page']){
$seoTitle = $this['article']['title'];
$seoKeywords = $this['article']['meta_keywords'] ?: $this['article']['keywords'];
$seoDescription = str_limit(Html::strip($this['article']['content']), 255);

if (class_exists('\BennoThommo\Meta\Meta')) {
if($seoTitle) {
\BennoThommo\Meta\Meta::set('title', $seoTitle);
}
if($seoKeywords) {
\BennoThommo\Meta\Meta::set('keywords', $seoKeywords);
}
if($seoDescription) {
\BennoThommo\Meta\Meta::set('description', $seoDescription);
}
}
}
if($this['is_detail_page'] and $this['allow_share']){
$this['page_url'] = $this->pageUrl('');
$this['encoded_title'] = urlencode($this['article']['title']);
$this['slug'] = $this['article']['slug'];
\BennoThommo\Meta\Meta::set('twitter:card', 'summary_large_image');
\BennoThommo\Meta\Meta::set('twitter:title', $this['article']['title']);
\BennoThommo\Meta\Meta::set('twitter:description', str_limit(Html::strip($this['article']['content']), 255));
\BennoThommo\Meta\Meta::set('og:title', $this['article']['title']);
\BennoThommo\Meta\Meta::set('og:description', str_limit(Html::strip($this['article']['content']), 255) );
\BennoThommo\Meta\Meta::set('og:type', 'article');
\BennoThommo\Meta\Meta::set('og:url', $this->pageUrl(''));
if($this['article']['cover']){
\BennoThommo\Meta\Meta::set('twitter:image', $this['article']['cover']->getThumb(600, null, ['mode' => 'auto']));

\BennoThommo\Meta\Meta::set('og:image', $this['article']['cover']->getThumb(600, 314, ['mode' => 'crop']));
\BennoThommo\Meta\Meta::set('og:image:width', 600);
\BennoThommo\Meta\Meta::set('og:image:height', 314);
}
}
}

if($this['is_detail_page']){
$related = array();
if($this['article']['slug']){
$article = Article::where('slug', $this['article']['slug'])->first();
$arrayOfTags = explode(",", $article->keywords);

$related = Article::where('slug', '!=', $this['article']['slug']);

$orWhere = '( ';
$c = 1;

foreach($arrayOfTags as $tag){
$orWhere .= ' keywords ILIKE \'%'.trim($tag).'%\' ';
if($c < count($arrayOfTags)){
$orWhere .= ' or ';
}
$c++;
}
$orWhere .= ')';
$related = $related
->whereRaw($orWhere)
->limit(2)
->get();

$this['related'] = $related;
}
}
}
?>
==
<h1 class="underline">News</h1>
<div class="container">

	{% if is_detail_page %}
	<div class="row single-news-item">
        <div class="col-xs-12 news-title">
            <h1 class="single-new-title">{{article.title}}</h1>
        </div>
        <div class="col-xs-12">
            <div class="text-published">{{article.published_at|date("j M Y")}}</div>
        </div>
		<div class="col-xs-12">
			{% if article.cover %}
			<img class="content" src="{{ article.cover|crop_image|resize(673, auto, { mode: 'crop' }) }}" />
			{% endif %}
			{% if article.caption %}
                <div class="caption">{{article.caption|raw}}</div>
            {% endif %}
		</div>

		<div class="col-xs-12">
			<div class="content">
				{{article.content|raw}}
			</div>
            <div class="row share_container middle-xs">
                <div class="col-cx-12 center-xs share_label">Share</div>
                <div class="col-cx-12 center-xs">
                    <a href="http://twitter.com/share?text={{article.title}}&url={{page_url}}" target="_blank" class="pr p-twitter big  hexagon"></a>
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{page_url}}&amp;src=sdkpreparse" target="_blank" class="pr p-facebook big  hexagon"></a>
                    <a href="https://www.linkedin.com/sharing/share-offsite/?url={{page_url}}" target="_blank" class="pr p-linkedin big hexagon"></a>
                </div>
            </div>

		</div>
	</div>

	{% else %}

    <div class="news-list">
    {% for record in records %}
    {% spaceless %}
        <div class="col-md-4 col-xs-12 news-item center-xs center-md">
            <div class="row news_column">
                <a href="{{'news'|page}}/{{record.slug}}">
                    {% if record.cover %}
                    <div class="news-image col-xs-12 center-xs">
                        <img class="news-img-top" src="{{record.cover.getThumb(379, 305, {'mode': 'crop'})}}">
                    </div>
                    {% endif %}
                    <div class="news-container col-xs-12">
                        <div class="news-title">
                            <h3 class="card-title">{{record.title}}</h3>
                        </div>

                        <div class="body">{{ record.content|length > 150 ? record.content|striptags|slice(0, 150)|replace({"&nbsp;": " ", ".": ". "}) ~ '...' : record.content|striptags|replace({"&nbsp;": " ", ".": ". "})  }}</div>
                    </div>
                </a>
            </div>

        </div>


    {% endspaceless %}
    {% else %}
    No news
    {% endfor %}
    </div>

	{% endif %}
</div>